nav{
    background-color: rgb(88, 222, 235);
    margin-bottom: 4rem;
}

.navbar-light,nav>ul>li>a.nav-link{
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
}


.tales{
    width: 100%;
}
.carousel-inner{
    width: 100%;
    max-height: 300px !important;
    object-fit: contain;
}

p,h2,h4,.read{
    margin: auto;
    text-align: center;
}
.icon{
    color: rgb(88, 222, 235);
}
.foot{
    margin-top: 3rem;
    
}
.foot>.col-md-4{
    padding: 3rem;
}
.list{
    list-style-type: none;
    line-height: 2;
    margin: 0;
}
.container-fluid{
    background-color: rgb(228, 220, 220);
}
.bottom{
    background-color: rgb(88, 222, 235);
}